{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренажер
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'base/css/trainer.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h2 class="your-dict-header">Ваш словарь:</h2>
        <p><div class="train-btn"><a href="{% url 'words:words_en_ru_text' %}">Изучить слова</a></div></p>
        <p><div class="train-btn"><a href="{% url 'words:echo_words_en_ru_text' %}">Повторить слова</a></div></p>
        <p class="add-words-btn-p">
            <div class="add-words-btn">
                <a href="{% url 'words:add_words_to_train' %}">Добавить слова для изучения</a>
            </div>
        </p>




    </div>
    <div class="standart-container">
        <p><div class="train-btn"><a href="{% url 'words:train_words_1' %}">Все слова</a></div></p>
        <p><div class="train-btn"><a href="#">Тренировка фраз</a></div></p>
        <p><div class="train-btn"><a href="#">Тренировка грамматики</a></div></p>
    </div>

{% endblock page_content %}
