{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренировка
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'new_words/css/train_words_1.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <p>{{ word.english|capfirst }}</p>
<!--        <p>{{ word.russian|capfirst }}</p>-->
        <form action="{% url 'words:train_words_1_result' %}" method="post">
            <p><input type="text" name="translate" class="translate_input"></p>
            <input type="hidden" name="word-en" value="{{ word.english }}">
            <input type="hidden" name="word-ru" value="{{ word.russian }}">
            {% csrf_token %}
            <p><input type="submit" value="Проверить" ></p>
        </form>
    </div>
{% endblock page_content %}
