{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренировка
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'new_words/css/words_en_ru_text.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <p class="words">{{ cur_train.word.english|capfirst }}</p>
        <form action="{% url 'words:words_en_ru_text_result' %}" method="post">

            <p><input type="text" name="translate" class="translate_input"></p>
            <input type="hidden" name="word-en" value="{{ cur_train.word.english }}">
            <input type="hidden" name="word-ru" value="{{ cur_train.word.russian }}">
            <input type="hidden" name="train_id" value="{{ cur_train.id }}">

            {% csrf_token %}
            <p><input type="submit" value="Проверить" class="check-btn"></p>

            <div>
                <div class="studied-div">
                    <input type="hidden" name="stud" value="?">
                    <input name="stud" id="stud" type="checkbox" value="on">
                    <label for="stud">Отметить слово как изученое</label>
                </div>
            </div>
        </form>
    </div>
{% endblock page_content %}
