{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренировка
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'new_words/css/words_text.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <p class="words">{{ word|capfirst }}</p>
        <form action="{% url 'words:words_text_result' mode=mode how_translate=how_translate %}" method="post">

            <p><input type="text" name="translate_attempt" class="translate_input" autofocus></p>
            <input type="hidden" name="word" value="{{ word }}">
            <input type="hidden" name="translate" value="{{ translate }}">
            <input type="hidden" name="train_id" value="{{ train_id }}">
            {% csrf_token %}
            <p><input type="submit" value="Проверить" class="check-btn"></p>

            <div>
                <div class="studied-div">
                    <input type="hidden" name="studied" value="?">
                    <input name="studied" id="studied" type="checkbox" value="on">
                    <label for="studied">Отметить слово как изученое</label>
                </div>
            </div>
        </form>
    </div>
{% endblock page_content %}
