{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Выход из аккаунта
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'account/css/logged_out.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h1>Вы вышли из своего аккаунта</h1>
        <p>
            Вы можете
            <a href="{% url 'account:login' %}" class="login-link">войти</a>
            снова
        </p>
    </div>
{% endblock page_content %}
