
/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) {
    .words {
        font-size: 7vw;
        margin: 2vh;
    }
    .other-translates {
        font-size: 5vw;
    }
    .right-translate{
        font-size: 7vw;
    }
    .right-ans,
    .wrong-ans {
        font-size: 9vw;
    }
    .mark-as-studied-btn, 
    .return-to-study-btn {
        font-size: 4vw;
    }
    .next-btn {
        font-size: 6vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .words {
        font-size: 9vw;
    }
    .other-translates {
        font-size: 7vw;
    }
    .right-translate{
        font-size: 9vw;
    }
    .right-ans,
    .wrong-ans {
        font-size: 11vw;
    }
    .mark-as-studied-btn, 
    .return-to-study-btn {
        font-size: 5vw;
    }
    .next-btn {
        font-size: 7vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
    .words {
        font-size: 10vw;
    }
    .other-translates {
        font-size: 8vw;
    }
    .right-translate{
        font-size: 11vw;
    }
    .right-ans,
    .wrong-ans {
        font-size: 12vw;
    }
    .mark-as-studied-btn, 
    .return-to-study-btn {
        font-size: 6vw;
    }
    .next-btn {
        font-size: 8vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 320px) {

}