.words {
    margin: 2vh;
    padding: 10px;
    font-size: 200%;
}

.translate_input {
    font-size: 150%;
    text-align: center;
    padding: 5px;
    margin: 2vh 0vh;
    max-width: 90%;
    overflow-x: auto;
}

.check-btn {
    font-size: 150%;
    margin: 2vh 0vh;
    padding: 5px 10px;
    background-color: rgba(23, 68, 161, 0.9);
    color: white;
    border-color: rgba(23, 68, 161, 0.9);
    border-radius: 10px;
}

.check-btn:hover {
    background-color: rgba(23, 68, 161, 1);
    text-decoration: underline;
}

#stud {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.studied-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-link a{
    color: rgba(10, 17, 150, 1);
    text-decoration: underline;
}


