
/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) {
    .word {
        font-size: 8vw;
        margin: 2vh;
    }
    .variant {
        font-size: 7vw;
    }
    .check-btn {
        font-size: 6vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .word {
        font-size: 9vw;
    }
    .variant {
        font-size: 8vw;
    }
    .check-btn {
        font-size: 7vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {
    .word {
        font-size: 10vw;
    }
    .variant {
        font-size: 9vw;
    }
    .check-btn {
        font-size: 8vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 320px) {

}