{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренировка
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'new_words/css/words_text.css' %}?n={% random_int %}">
    <link rel="stylesheet" href="{% static 'new_words/css/words_text_adaptive.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}

    <div class="container load">
        <img src="{% static 'base/img/load_sign.gif' %}" alt="..." width="40px">
    </div>

    <div class="container error hidden">
        <p>У вас нет слов на изучении, добавьте слова для тренировки</p>
        <p><a href="{% url 'words:words_review' %}" class="blue-link">Добавить слова</a></p>
    </div>

    <div class="container question hidden">
        <p class="word">...</p>
        <p><input type="text" class="translate-input" autofocus></p>
        <div>
            <span class="check-btn">
                Проверить
            </span>
        </div>
        <div class="btn-div">
            <div class="mark-as-studied-btn hidden">
                Отметить как изученное
            </div>

            <div class="return-to-study-btn hidden">
                Вернуть для изучения
            </div>
        </div>
    </div>

    <div class="container result hidden">
        <p class="verdict"></p>
        <p class="question-word"></p>
        <p class="translate-attempt"></p>
        <p class="right-ans"></p>
        <p class="other-translates"></p>
         <div class="btn-div">
            <span class="next-btn">
                Дальше
            </span>
        </div>
        <div>
            <div class="mark-as-studied-btn hidden">
                Отметить как изученное
            </div>

            <div class="return-to-study-btn hidden">
                Вернуть для изучения
            </div>
        </div>
    </div>

    <script src="{% static 'new_words/js/words_text.js' %}"></script>
{% endblock page_content %}