{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренировка
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'new_words/css/words_with_variants.css' %}?n={% random_int %}">
    <link rel="stylesheet" href="{% static 'new_words/css/words_with_variants_adaptive.css' %}?n={% random_int %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock css_links %}

{% block page_content %}
    <div class="container load">
        <img src="{% static 'base/img/load_sign.gif' %}" alt="..." width="40px">
    </div>

    <div class="container error hidden">
        <p>У вас нет слов на изучении, добавьте слова для тренировки</p>
        <p><a href="{% url 'words:words_review' %}" class="blue-link">Посмотреть список слов</a></p>
        <p><a href="{% url 'words:add_words_to_train' %}" class="blue-link">Добавить слова</a></p>
    </div>

    <div class="container question hidden">
        <div class="word"></div>
        <div class="variants"></div>
        <span class="next-btn">
            Дальше
        </span>

        <div>
            <div class="mark-as-studied-btn hidden">
                Отметить как изученное
            </div>

            <div class="return-to-study-btn hidden">
                Вернуть для изучения
            </div>
        </div>
        
    </div>

    <script src="{% static 'new_words/js/words_with_variants.js' %}"></script>
{% endblock page_content %}
