.pagination {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px; 5px;
    border-radius: 10px;
    margin: 20px 0px;
    width: 500px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
}

.selected-page-num {
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 13px;
    width: 26px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    background-color: rgba(23, 68, 161, 0.6);
    margin: 2px;
}


.unselected-page-num {
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 13px;
    width: 26px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    margin: 2px;
}

.unselected-page-num:hover {
    background-color: rgba(203, 203, 203, 1);
    cursor: pointer;
}


