.words {
    margin: 0px;
    padding: 10px;
    font-size: 25px;
}

.translate_input {
    font-size: 25px;
    text-align: center;
    padding: 5px; 10px;
}

.check-btn {
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgba(23, 68, 161, 0.9);
    color: white;
    border-color: rgba(23, 68, 161, 0.9);
    border-radius: 10px;
}

.check-btn:hover {
    background-color: rgba(23, 68, 161, 1);
    text-decoration: underline;
}

#stud {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.studied-div {
    display: flex;
    align-items: center;
    justify-content: center;
}