p {
    font-size: 20px;
}

input {
    font-size: 18px;
}

.standart-container {
    display: block;
    background-color: #bfc9da;
    padding: 10px; 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 0px;
    text-align: center;
    width: 500px;
    align-self: center;
}

.link {
    font-size: 18px;
    font-weight: normal;
    border-radius: 10px;
    background-color: rgba(23, 68, 161, 0.8);
    padding: 5px;
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    background-color: rgba(23, 68, 161, 1);

}

.login-button {
    background-color: #82B93C;
    background-color: rgba(5, 207, 20, 1);
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

.login-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
