{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Редактирование профиля
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'account/css/edit.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="standart-container">
        <h1>Редактирование профиля</h1>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <img src="/media/{{ profile_form.photo.value }}" alt="PHOTO" width="200px">

            {% for f in user_form %}
                <p>{{ f.label }} - {{ f }}</p>
                <p>{{ f.errors }}</p>
            {% endfor %}
            {% for f in profile_form %}
                <p>{{ f.label }} - {{ f }}</p>
                <p>{{ f.error }}</p>
            {% endfor %}
            <p><input class="save-changes-button" type="submit" value="Сохранить изменения"></p>
        </form>
    </div>
{% endblock page_content %}
