{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Личный кабинет
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'account/css/personal_page.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="container">
        <h2>Здравствуйте <i>{{ request.user.first_name }}</i></h2>
    </div>
    <div class="container">
        <h2>Ваш прогресс:</h2>
        <p>Изучено слов - {{ studied }}</p>
        <p>Слов на изучении - {{ on_study }}</p>
    </div>
    <div class="container">
        <p></p>
        <p><a class="link blue-link" href="{% url 'edit' %}">Редактировать профиль</a></p>
        <p><a class="link blue-link" href="{% url 'password_change' %}">Сменить пароль</a></p>
        <p><a class="link blue-link" href="{% url 'logout' %}">Выйти из аккаунта</a></p>
    </div>
{% endblock page_content %}
