* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    background-color: #EDEEF0;
    font-size: 30px;
}

a {
    color: black;
    text-decoration: none;
}


/* ============= HEADER ================ */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #284178;
    box-sizing: content-box;
}

.header-logo {
    max-height: 100px;
    align-self: center;
}

.header-logo img {
    width: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
}

.nav-link {
    display: inline-block;
    align-self: center;
    align-items: center;
    margin: 0px;
    padding: 5px 15px;
    font-family: Georgia;
    font-weight: normal;
    border: 0px solid;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.nav-link:hover {
    background-color: #3758A6;
    text-decoration: underline;
    opacity: 1;
}

/* ============= BURGER MENU ================ */

.burger-menu-nav {
    position: fixed;
    top: 0px;
    right: -100%;
    transition-duration: 0.5s;
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 100vh;
    background-color: #112145;
    overflow-y: auto;
}

.burger-menu-nav.active {
    right: 0;
}

.burger-menu-nav a {
    padding: 5px 15px;
    margin-bottom: 10px;
    font-family: Georgia;
    font-weight: normal;
    border: 0px solid;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.burger-menu-nav a:hover {
    text-decoration: underline;
}

.burger-menu-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 30;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}

.burger-menu-line {
    width: 80%;
    height: 8%;
    background-color: rgb(205, 199, 199);
    border-radius: 15%;
}

.burger-menu-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.burger-menu-btn.active > div{
    display: none;
}

.burger-menu-btn.active > div:first-child {
    position: relative;
    top: 25%;
    rotate: 45deg;
    display: block;
}

.burger-menu-btn.active > div:last-child {
    position: relative;
    top: -25%;
    rotate: -45deg;
    display: block;
}

/* ============= CONTENT ================ */

.content-area {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: block;
    border: 2px solid rgb(166, 168, 168);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 80%;
    margin: 1% 0%;
    padding: 1%;
}

h1 {
    margin: 2% 0px;
}
