h1 {
    color: rgb(21, 37, 97);
    font-style: italic;
    text-shadow: #CBCBCB;
}

a {
    color: rgb(12, 12, 118);
}

a:hover {
    text-decoration: underline;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
}

.box-container {
    flex-basis: 0;
    flex-grow: 1;
    padding: 1%;
    margin: 1%;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 10px;
    font-size: 150%;
    align-items: stretch;
    text-align: center;
}

.box-container p {
    /* margin: 1%; */
}

.train-btn {
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #CBCBCB;
    font-size: 100%;
    color: black;
    font-family: Tahoma;
}

.train-btn:hover {
    background-color: #D7D7D7;
}