
/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .button {
        font-size: 3vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 992px) {
    h3 {
        font-size: 5vw;
    }
    .train-btn {
        font-size: 4vw;
    }
    .button {
        font-size: 3vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .button {
        font-size: 4vw;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 480px) {

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 320px) {

}