{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Главная
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'base/css/main_page.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}

    <div class="container">
        <h1>Бесплатный тренажер<br>для изучения английского языка</h1>

        {% if request.user.is_authenticated %}
            <div class="box">
                <div class="box-container">
                    <h2>Ваш прогресс:</h2>
                    <p>Изучено слов - {{ studied }}</p>
                    <p>Слов на изучении - {{ on_study }}</p>
                </div>
                <div class="box-container">
                    <p><a href="{% url 'words:words_text' mode='user_words' how_translate='en-ru' %}" class="train-btn">Изучить слова</a></p>
                    <p><a href="{% url 'words:words_text' mode='repeat_words' how_translate='en-ru' %}" class="train-btn">Повторить слова</a></p>
                </div>
            </div>
        {% else %}
            <div class="box">
                <div class="box-container">
                    <p>Сделай первые шаги в изучении английского</p>
                    <p>Учитесь когда вам удобно и где удобно</p>
                    <p>Сами контролируйте словарный запас</p>
                    <p>Выбирайте слова из нужных категорий</p>
                </div>
                <div class="box-container">
                    <h2>Присоединяйтесь!</h2>
                    <a href="{% url 'account:login' %}">Войти</a>
                    или
                    <a href="{% url 'account:register' %}">Зарегистрироваться</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
