{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}


{% block title %}
    Тренажер
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'base/css/trainer.css' %}?n={% random_int %}">
    <link rel="stylesheet" href="{% static 'base/css/trainer_adaptive.css' %}?n={% random_int %}">
{% endblock css_links %}

{% block page_content %}
    <div class="container">

        <div class="add-words-btn">
            <a href="{% url 'words:add_words_to_train' %}">Добавить слова для изучения</a>
        </div>
    
        <div class="box">
            <div class="box-container">
                <div class="vertical-flexbox">
                    <h3>Изучить слова</h3>
                    <a class="train-btn" href="{% url 'words:words_text' %}?&mode=study&lang=en-ru">EN --> RU</a>
                    <a class="train-btn" href="{% url 'words:words_text' %}?&mode=study&lang=ru-en">RU --> EN</a>
                    <a class="train-btn" href="{% url 'words:words_with_variants' %}?&mode=study&lang=en-ru">С вариантами <br> EN --> RU</a>
                    <a class="train-btn" href="{% url 'words:words_with_variants' %}?&mode=study&lang=ru-en">С вариантами <br> RU --> EN</a>
                </div>
            </div>
    
            <div class="box-container">
                <div class="vertical-flexbox">
                    <h3>Повторить слова</h3>
                    <a class="train-btn" href="{% url 'words:words_text' %}?&mode=repeat&lang=en-ru">EN --> RU</a>
                    <a class="train-btn" href="{% url 'words:words_text' %}?&mode=repeat&lang=ru-en">RU --> EN</a>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
