h1 {
    font-size: 200%;
}

/* ----------------------------------- FORM -------------------------------------- */

.register-form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.field {
    margin-bottom: 2vh;
}

.field-label {
    font-size: 90%;
    font-weight: bold;
    text-align: start;
}

.field-input input {
    font-size: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid #9292927c;
    padding: 5px 10px;
}

.validation-errors {
    color: red;
    font-size: 80%;
    font-style: italic;
}

/* ----------------------------------- BUTTONS -------------------------------------- */

.register-button {
    width: auto;
    background-color: rgba(0, 219, 26, 0.8);
    font-size: 100%;
    border-radius: 15px;
    border-color: #9292927c;
    padding: 5px 20px;
    margin: 2vh 0;
}

.register-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color:  rgba(0, 219, 26, 1);
}